@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
Set being used across the site:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3
blue - #0074e1
*/

/* #nav-bar-custom {
  font-family: "Lato", sans-serif;
  background: orangered;
} */

.img-container {
  margin-top: 19%;
}

#course-form {
  margin-top: 5%;
  padding-top: 4%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #31708e;
  border-radius: 4px;
  background-color: lightblue;
}

input[type="text"]:focus {
  background-color: white;
}

#term-selection {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #31708e;
  border-radius: 4px;
  background-color: #8fc1e3;
}

#search-btn {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-color: #153983;
  border-width: 3px;
  background-color: #153983;
  line-height: 1.5;
  box-shadow: 10px 5px 0px #31708e;
}

#stud-schedule-table {
  margin-top: 3%;
  border: 3px solid black;
  background: oldlace
    linear-gradient(
      to bottom,
      #fbe8a6,
      #fbe8a6 3rem,
      transparent 1rem,
      transparent 100%
    );
}
