@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
Set being used across the site:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3
blue - #0074e1
*/

/* #nav-bar-custom {
  font-family: "Lato", sans-serif;
  background: orangered;
} */

#left-panel-info,
#right-panel-info {
  margin-top: 10%;
}

#reg-btn,
#drop-btn {
  margin-top: 5%;
}
