doctype html
// Project code by: Jonathan Yulan and David Acuqui
//
  Name: David Acuqui and Jonathan Yulan 
  Date: 04.22.2021
  Section: CS 355-54
  *ADD CONTENT*
  Photos taken from https://unsplash.com/ (search keywords: college, professor, student)
html(lang='en')
  head
    meta(charset='utf-8')
    |       
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |       
    title Delete course - professor
    |       
    script(src='../Javascript/jquery-3.0.0.min.js')
    |       
    script(src='../Javascript/bootstrap.min.js')
    |       
    script(src='../CSS/bootstrap.min.css')
    // The below css is for testing purposes only.  We can use it if we need it
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    |       
    link(rel='stylesheet', type='text/css', href='../CSS/navbarstyles.css')
    |       
    link(rel='stylesheet', type='text/css', href='../CSS/deletecoursestyles.css')
  |    
  |    
  body
    nav.navbar.navbar-expand-md.fixed-top.myNav(role='navigation')
      .container-fluid
        a.navbar-brand(href='../HTML/instructorhomepage.html')
          img.navlogo(src='../Images/QCFirstLogo.png', alt='qcfirstlogo')
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse')
          span.navbar-toggler-icon
            i.fa.fa-bars
        |             
        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.navLinks
            a.nav-item.nav-link.active.disabled(href='../HTML/instructorhomepage.html') Home
            |                   
            a.nav-item.nav-link.disabled(href='../HTML/managecourse.html') Manage Courses
          |                
          form.form-inline.ml-auto.navSearchLink
            input.form-control.mr-sm-2.disabled(type='text', placeholder='Search courses..')
            |                   
            button.btn.btn-outline-light.disabled(type='submit') Search
          |                
          .navbar-nav.ml-auto.navAcctLink
            a.nav-item.nav-link(href='../HTML/loginpage.html') Logout
    // End of nav bar
    #delete-course-container.container-fluid
      .table-responsive
        table#prof-delete-table.table.table-hover
          thead
          caption My courses
          |                   
          tbody
            tr
              th Class ID
              |                      
              th Course Name
              |                      
              th Semester
              |                      
              th Days
              |                      
              th Class Time
              |                      
              th Units
              |                      
              th Room
              |                      
              th Num. of Students
              |                      
              th Delete Course
          tbody
            tr
              td 355-01
              |                      
              td Web Technologies
              |                      
              td Summer 2021
              |                      
              td Mon/Wed/Fri
              |                      
              td 12:15PM-1:30PM
              |                      
              td 3.00
              |                      
              td SB-201
              |                      
              td 25/32
              |                      
              td
                button.btn.btn-danger.disabled(type='button') Delete
            |                   
            tr
              td 381-20
              |                      
              td Advanced C++
              |                      
              td Summer 2021
              |                      
              td Mon/Tues/Wed/Thurs
              |                      
              td 8:00PM-9:15PM
              |                      
              td 3.00
              |                      
              td SB-115
              |                      
              td 32/32
              |                      
              td
                button.btn.btn-danger.disabled(type='button') Delete
      // footer goes here
      hr
      |          
      footer
        .row
          .col-md-6
            p Copyright &copy; 2021 QC First
          |                
          .col-md-6.text-md-right
            a.text-dark(href='#') Terms of Use
            |  
            |                   
            span.text-muted.mx-2 |
            |  
            |                   
            a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div