doctype html
// Project code by: Jonathan Yulan and David Acuqui
//
  Name: David Acuqui and Jonathan Yulan 
  Date: 04.22.2021
  Section: CS 355-54
  *ADD CONTENT*
  Photos taken from https://unsplash.com/ (search keywords: college, professor, student)
html(lang='en')
  head
    meta(charset='utf-8')
    |       
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |       
    title Search Results
    |       
    script(src='../Javascript/jquery-3.0.0.min.js')
    |       
    script(src='../Javascript/bootstrap.min.js')
    // <script src="../CSS/bootstrap.min.css"></script>
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    |       
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    |       
    link(rel='stylesheet', type='text/css', href='../CSS/navbarstyles.css')
    |       
    link(rel='stylesheet', type='text/css', href='../CSS/searchresultsstyles.css')
  |    
  |    
  body
    nav.navbar.navbar-expand-md.fixed-top.myNav(role='navigation')
      .container-fluid
        a.navbar-brand(href='../HTML/index.html')
          img.navlogo(src='../Images/QCFirstLogo.png', alt='qcfirstlogo')
        |             
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse')
          span.navbar-toggler-icon
            i.fa.fa-bars
        |             
        #navbarCollapse.collapse.navbar-collapse
          .navbar-nav.navLinks
            a.nav-item.nav-link.active.disabled(href='../HTML/index.html') Home
            |                   
            a.nav-item.nav-link.disabled(href='../HTML/enrollment.html') Enrollment
          |                
          form.form-inline.ml-auto.navSearchLink.disabled
            input.form-control.mr-sm-2(type='text', placeholder='Search courses..')
            |                   
            button.btn.btn-outline-light(type='submit') Search
          |                
          .navbar-nav.ml-auto.navAcctLink
            a.nav-item.nav-link(href='../HTML/loginpage.html') Logout
    // End of nav bar
    .container-fluid.myContainer
      .row
        .col-md-4
          .card
            img.card-img-top(src='../Images/student3.jpg', alt='studentroom')
            |                   
            .card-body.text-center
              h5.card-title Course description
              |                       
              p.card-text Web application &amp; website design.
        |             
        .col-md-4
          .card
            img.card-img-top(src='../Images/student4.jpg', alt='students')
            |                   
            .card-body.text-center
              h5.card-title Course credits
              |                       
              p.card-text This course is 3 units.
        |             
        .col-md-4
          .card
            img.card-img-top(src='../Images/college6.jpg', alt='collegecampus')
            |                   
            .card-body.text-center
              h5.card-title Course dates
              |                       
              p.card-text 7/3/2021 - 8/25/2021
      |          
      .table-responsive
        // main content goes here
        table#search-results-table.table.table-hover(class='.table-sm')
          thead
            tr
              th Course
              |                      
              th Section
              |                      
              th Instructor
              |                      
              th Days
              |                      
              th Times
              |                      
              th Room
              |                      
              th Status
              |                      
              th Add Course
          |                
          tbody
            tr
              td 355
              |                      
              td 31
              |                      
              td Jake deGrom
              |                      
              td Mon/Wed
              |                      
              td 6:30PM-7:45PM
              |                      
              td SB-122
              |                      
              td Closed
              |                      
              td
                button.btn.btn-primary.disabled(type='button') Add
            |                   
            tr
              td 355
              |                      
              td 46
              |                      
              td Frankie Lindor
              |                      
              td Sat
              |                      
              td 9:10AM-11:50AM
              |                      
              td SB-230
              |                      
              td Open
              |                      
              td
                button.btn.btn-primary.disabled(type='button') Add
      // footer goes here
      hr
      |          
      footer
        .row
          .col-md-6
            p Copyright &copy; 2021 QC First
          |               
          .col-md-6.text-md-right
            a.text-dark(href='#') Terms of Use
            |  
            |                   
            span.text-muted.mx-2 |
            |  
            |                   
            a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div
