@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
blue - #0074e1

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3

Another set of colorful (37) current ones being used:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff
*/

/* Styling for body */

.announcement-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.announcement-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar */

.nav-bar-logo{
    float: left;
    width:125px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar input[type=text]{
    color:white;
    margin-top: 2%;
    padding-right: .8%;
}

.nav-bar a:hover{
    background: #153983;
    color:white;
}

.nav-bar-logo a:hover{
    position: relative;
    top: -5px;
}

/* Styling for student details div at top of page*/
.announcement-stud-details{
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    border: 3px solid black;
    margin-top: .2%;
    padding-left: 2%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #303c6c;
    margin-top: 3%;
    margin-bottom: 3%;
}

.announcement-stud-details p{
    display:flex;
    flex-direction:column;
    text-decoration-line:none;
}

/* CSS to apply to the display main selector on the academics page */
#announcement-stud-name-header, #announcement-stud-id-header, #announcement-stud-term-header, #announcement-stud-uni-header{
    color: #fbe8a6;
    text-decoration-line: underline;
    font-size: 20px;
}

/* This css selector work on the inner-container second div */
.announcement-stud-calendar{
    display:flex;
}

/*selectors for student calendar */
.announcement-stud-current-date{
    display:grid;
    width:60%;
}

.announcement-student-today-date{
    display:flex;
    justify-content:center;
}

/* controls the CSS for the month,date heading for the calendar */
#announcement-student-day, #announcement-student-month{
    display:grid;
    grid-template-columns:1fr 1fr;
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
}

.announcement-stud-current-date ul{
    margin: 0;
    padding: 0;
}

.announcement-stud-current-date li{
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
}

.announcement-stud-current-date li:nth-child(n+1):nth-child(-n+7){
    font-weight: 900;
    color: #e67e22;
}

.announcement-stud-current-date li:nth-child(n+39), .announcement-stud-current-date li:nth-child(n+8):nth-child(-n+16){
    font-weight: 900;
    color: rgba(0,0,0,.3);
}

.announcement-stud-current-date li:hover:nth-child(n+8):nth-child(-n+38), .announcement-stud-current-date li:nth-child(17){
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
}

/* This CSS selector is for the interactive javascript menu that will be integrated currently just placeholder -D3*/
.announcement-student-menu{
    flex: 30%;
    display: flex;
    background-image: url("../../images/student8.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    margin-top: 2%;
}

/* formatting for font in the interactive javascript menu */
.announcement-student-menu p{
    font-family: 'Lato', sans-serif;
    min-height: 250px;
    font-size: 20px;
    text-align:center;
    color: #303c6c;
    width:30%;
}

/*Main CSS that controls that controls the second inner-container of the student announcement page */
.announcement-inner-container-2{
    display:flex;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/*CSS to fix the student inner container container first half section containing two tables*/
.announcement-student-important-pay-dates{
    flex:50%;
    text-align:center;
    border:solid;
    margin: 5%;
}

/* CSS to fix the two tables in the second inner container on the LHS page */
.announcement-student-important-pay-dates-table, .announcement-student-pay-liability-dates-table{
    width:100%;
    text-align:center;
    border:solid;
    border-collapse:collapse;
    column-gap:25%;
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background: oldlace linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 5rem,
        transparent 1rem,
        transparent 100%
    );
}

#announcement-student-table-header{
    background-color: #303c6c;
    color: white;
    font-size:20px;
    border:none;
}

.announcement-student-important-pay-dates-table:first-child > caption{
    font-size:25px;
    background-color:#fbe8a6;
    border:solid;
}

/*Specific CSS selector to work on the one caption to ensure its not the same as top caption*/
#announcement-student-table-header caption:nth-of-type(2){
    background-color: #303c6c;
    color: white;
    font-size: 20px;
}

/*id selector for the caption of the first table on the student */
.announcement-student-important-pay-dates-table{
    border:solid;
    background-color: #fbe8a6;

}

.announcement-student-table-header{
    border:1px solid #303c6c;
    text-align:center;
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-bottom: 2%;
}

/*CSS that works on the second-inner container on the CUNYFIRST ALERTS page*/
.announcement-stud-cunyfirst-alert{
    flex:50%;
    text-align:center;
    border:solid;
    margin-top: 5%;
}

/*CSS that works on the table component of the CUNYFIRST announcements*/
.announcement-stud-cunyfirst-alert-table{
    width:100%;
    border-collapse:collapse;
}

/* Styling for the table headers */
announcement-student-important-pay-dates-table caption {
    column-gap:25%;
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background: oldlace linear-gradient(
        to bottom,
        #fbe8a6,
        #303c6c 5rem,
        transparent 1rem,
        transparent 100%
    );
}

.announcement-stud-cunyfirst-alert-table caption{
    font-size: 25px;
    column-gap:25%;
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background: oldlace linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 5rem,
        transparent 1rem,
        transparent 100%
    );
}

.announcement-student-table-header{
    background-color: #303c6c;
    color: white;
    font-size:20px;
}

.announcement-stud-cunyfirst-alert-table thead{
    border:1px solid #303c6c;
    text-align:center;
}

caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding-bottom: 2%;
}

th{
    background-color: #303c6c;
    color: white;
    font-size:20px;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

/*CSS selector working on the footer*/
footer{
    display:flex;
    background-color: #555;
    color: #bbb;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

footer a {
    text-decoration: none;
    color: #eee;
}

.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.footer-main-item ul{
    display:-webkit-inline-flex;
}

.footer-main-item li{
    padding-left:.5em;
    padding-right:.5em;
}

.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}

.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.footer-social li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

/*CSS to work on the icons for the footer*/
.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 50px; color: #eee;
    justify-items: center;
}

ul{
    list-style: none;
    padding-left: 0;
}