@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

/* Styling for body */

.announcement-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.announcement-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar */

.nav-bar-logo{
    float: left;
    width:125px;
}

.nav-bar{
    display:flex;
    justify-content:center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 33px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;
}
/* Main div that contains the display that controls the display of the user-specific information */
.announcement-display{
    display:flex;
    flex-direction:row;
    column-gap:20%;
    border: 3px solid black;
    margin-bottom: 5%;
    padding-left: 2%;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
    justify-content:center;
}

/* CSS to apply to the display main selector on the academics page */
#student-name, #student-id, #student-term, #student-uni{
    color: #fbe8a6;
    text-decoration: underline;
    font-size: 20px;
}

/* This css selector work on the inner-container second div */
.announcement-stud-calendar{
    display:flex;
}

#announcement-student-specific-info2, #announcement-student-specific-info3{
    flex: 30%;
    display: flex;
    background-image: url("../../images/student8.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
}

.announcement-student-specific-info2, .announcement-student-specific-info3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align:center;
    color: #303c6c;
    width:30%;
}

/*selectors for the entire calendar */
.current-date{
    display:grid;
    width:40%;
}

.currentDate{
    display:flex;
    justify-content:center;
}

/* controls the CSS for the month,date heading for the calendar */
#current-date-caption-month, #current-date-caption-day{
    display:grid;
    grid-template-columns:1fr 1fr;
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
}

li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: #e67e22;
}

li:nth-child(n+39), li:nth-child(n+8):nth-child(-n+16) {
    font-weight: 900;
    color: rgba(0,0,0,.3);
}

li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(17){
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
}

 .announcement-display p{
    display:flex;
    flex-direction:column;
    text-decoration-line:none;
}

footer{
    padding: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*Main CSS that controls that controls the inner-container of the student announcement page */
.announcement-student-inner-container{
    display:flex;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* CSS to fix the table in the second inner container on the page */
.student-info-table{
    width:90%;
    text-align:center;
    border:solid;
}

/*CSS to fix the student inner container container first half section containing two tables*/
.announcement-student-info2{
    flex:50%;
    text-align:center;
}

/*id selector for the caption of the first table on the student */
#announcement-table-student-info2{
    border:solid;
    background-color: #fbe8a6;
}

/*CSS to fix the student database generated table on the second inner-container page*/
.announcement-stud-schedule-table{
    flex:50%;
    text-align:center;
    padding-top:10px;
    border:solid;
}

/*CSS to apply to the table specifically working table in the second inner container*/
.announcement-stud-schedule-table table{
    width:100%;
    border-collapse:collapse;
}

/* Styling for the table headers */
.announcement-stud-schedule-table{
    column-gap:25%;
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background: oldlace linear-gradient(
            to bottom,
            #fbe8a6,
            #fbe8a6 5rem,
            transparent 1rem,
            transparent 100%
    );
}

#announcement-stud-schedule-table-thead {
    border:1px solid #303c6c;
    text-align:center;
}

caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-bottom: 2%;
}


th{
    background-color: #303c6c;
    color: white;
    font-size:20px;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

/*font color for the display of the student specific information */
#student-name-display, #student-id-display, #student-term-display, #student-uni-display{
    font-family: 'Lato', sans-serif;
    color: white;
}