@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

.drop-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 4vh;
    flex-grow: 1;
}

.drop-inner-container{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
}

.nav-bar-logo{
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 5px 33px;
    text-decoration: none;
    margin-top: 15px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;
}


#drop-class-header{
    padding-top: 1%;
    margin-left: 5%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.drop-table1{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 5%;
}

.drop-table2{
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    margin-top: 5%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

#buttonDrop{
    padding-top:25px;
    padding-top: 5%;
    margin-left: 5%;
}

footer{
    padding-top:50px;
}