@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes: 
Set being used across the site:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3
blue - #0074e1 
*/

/* Styling for body */
.enrollment-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.enrollment-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar */
.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar input[type=text]{
    color:white;
    margin-top: 2%;
    padding-right: .8%;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for student details div at top of page*/
.enroll-stud-details{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    margin-top: 3%;
    padding-left: 12%;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
}

#enroll-stud-name-header, #enroll-sems-header, #enroll-college-header{
    color: #fbe8a6;
    text-decoration-line: underline;
    font-size: 20px;
}

/* Styling for main content and buttons */

.enroll-main-content{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
}

#enroll-left-panel, #enroll-center-panel, #enroll-right-panel{
    flex: 33.33%;
    padding: 5px;
}

.btn1, .btn2, .btn3{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color:#153983;
    border: 1px solid transparent;
    border-color: #153983;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 110px;
    border-radius: .3rem;
    line-height: 1.5;
    box-shadow: 5px 5px 10px #153983;
}

/* Styling for tables */

.enroll-shopping-cart, .enroll-next-term-cart{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    padding-top: 3%;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-bottom: 3%;
    background: linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 5rem,
        transparent 1rem,
        transparent 100%
    );
      background-color: oldlace;
}

caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
}   

#shopping-cart-table, #next-term-shopping-cart{
    width: 100%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: #303c6c;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}
/*CSS selector working on the footer*/
footer{
    display:flex;
    background-color: #555;
    color: #bbb;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
.footer-main-item ul{
    display:-webkit-inline-flex;
}
.footer-main-item li{
    padding-left:.5em;
    padding-right:.5em;
}
.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}
.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.footer-social li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
/*CSS to work on the icons for the footer*/
.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 50px; color: #eee;
    justify-items: center;
}
ul {
    list-style: none;
}