@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

@media (max-width: 900px)
{}.nav-bar {
    border-radius: 0!important;
}

/* Styling for body */

.stud-ctr-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.stud-ctr-inner-container{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar */

.nav-bar-logo{
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 33px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for Student details div at top of page */

#stud-ctr-details{
    display:flex;
    flex-direction:row;
    column-gap:20%;
    border: 3px solid black;
    margin-top: .2%;
    padding-left: 2%;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
}

#stud-ctr-name-header, #stud-ctr-sems-header, #stud-ctr-college-header, #stud-ctr-credits-header{
    color: #fbe8a6;
    text-decoration-line: underline;
    font-size: 20px;
}

/* Styling for infinit scroll/special content */

.fade-in-block{
    opacity: 0;
    font-family: 'Lato', sans-serif;
    color: orangered;
}

.special-content1{
    background-image: url("../../images/college5.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p1{
    font-family: 'Lato', sans-serif;
    padding-top: 10%;
    padding-left: 35%;
    font-size: 20px;
    color: #303c6c;
}

.special-content2{
    background-image: url("../../images/college6.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p2{
    font-family: 'Lato', sans-serif;
    padding-top: 10%;
    padding-left: 60%;
    font-size: 20px;
    color: black;
}

/* Styling for table */

.student-schedule{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    padding-top: 3%;
    border-collapse: collapse;
    border-spacing: 5px;
    background: linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 5rem,
        transparent 1rem,
        transparent 100%
      );
      background-color: oldlace;
}

.student-schedule caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
} 

#stud-ctr-schedule-table{
    width: 100%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: #303c6c;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

/* Styling for personalized cuny alerts */

.stud-urgent-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    border: 3px black solid;
    margin: 0 auto;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    background: #369;
}

#urgent-info-panel1, #urgent-info-panel2, #urgent-info-panel3{
    width: 100px;
    height: 200px;
    border: 1px black solid;
    background: #eee;
    padding: 2%;
    margin: 2%;
}

#urgent-info-panel1 > h4, #urgent-info-panel2 > h4, #urgent-info-panel3 > h4{
    text-decoration: underline;
}