@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* color schemes:
blue - #0074e1

One set of blues:
teal blueish - #31708e
lighter than prev - #5085a5
lighter than prev - #8fc1e3

Another set of colorful (37) current ones being used:
light orange - #fbe8a6
pastel orange - #f4976c
dark blue - #303c6c
cyan ish - #b4dfe5
cyan - #d2fdff
*/

/* Styling for the body */

.teacher-announcement-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.teacher-announcement-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    flex-grow: 1;
}

.teacher-announcement-inner-container2{
    display:flex;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for the nav bar */

.nav-bar-logo {
    float: left;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 43px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar input[type=text]{
    color:white;
    margin-top: 2%;
    padding-right: .8%;
}

.nav-bar a:hover{
    background: #153983;
    color:white;
}

/* This css selector work on the div teacher-specific heading display */
.teacher-announcement-details{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    border: 3px solid black;
    padding-left: 2%;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #303c6c;
}

/* CSS to apply to the display main selector on the academics page */
#teacher-announcement-name-header, #teacher-announcement-id-header, #teacher-announcement-term-header, #teacher-announcement-uni-header{
    color: #fbe8a6;
    text-decoration: underline;
    font-size: 20px;
}

/*font color for the display of the teacher specific information */
#teacher-announcement-name, #teacher-announcement-id, #teacher-announcement-term, #teacher-announcement-uni{
    font-family: 'Lato', sans-serif;
    color: white;
}

/* This css selector work on the inner-container second div, which contains the calendar of UL days*/
.teacher-announcement-calendar{
    display:flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Padding for the day UL representation of the calendar */
.teacher-announcement-current-date ul{
    margin: 0;
    padding: 0;
}

.teacher-announcement-calendar li{
    float: left;
    display: block;
    width: 14.2857%;
    text-align: center;
    list-style-type: none;
}

.teacher-announcement-calendar li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: #e67e22;
}

.teacher-announcement-calendar li:nth-child(n+39), li:nth-child(n+8):nth-child(-n+16) {
    font-weight: 900;
    color: rgba(0,0,0,.3);
}

.teacher-announcement-calendar li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(17){
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
}

/* selectors work on the calendar on the LHS */
.teacher-announcement-current-date{
    display:grid;
    width:60%;
}

.teacher-announcement-today-date{
    display:flex;
    justify-content:center;
}

/* controls the CSS for the month,date heading for the calendar */
#teacher-announcement-month, #teacher-announcement-day{
    display:grid;
    grid-template-columns:1fr 1fr;
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-bottom: 2%;
}

/*CSS selector future implementation of JAVASCRIPT INTERACTIVE MENU */
.announcement-teacher-menu{
    flex: 30%;
    display: flex;
    background-image: url("../../images/student8.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*CSS selector future implementation of the content insideJAVASCRIPT INTERACTIVE MENU */
.announcement-teacher-menu p{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align:center;
    color: #303c6c;
    width:30%;
}

/* first div that holds the table on the left/right side */
.teacher-announcement-cuny-wide-left, .teacher-announcement-cuny-wide-right{
    flex:50%;
    text-align:center;
    border:solid;
}

/* CSS to fix the table in the second inner container on the page */
.teacher-announcement-cuny-wide-academic-table{
    width:100%;
    text-align:center;
    border:solid;
}

/* id selector for the caption of the table on the LHS div */
#teacher-announcement-cuny-academic-calendar-header{
    border:solid;
    background-color: #fbe8a6;
}

/*CSS selectors to format the buttons listed on the RHS teacher side table*/
.announcement-stud-schedule-button{
    justify-content:center;
    background-color: #fbe8a6;
    border:solid;
}

#announcement-teacher-addButton, #announcement-teacher-dropButton, #announcement-teacher-searchButton{
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-color: #153983;
    border-width: 3px;
    background-color:#153983;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: .3rem;
    line-height: 1.5;
    box-shadow: 5px 5px 10px #153983;
}

/*CSS to apply to all the tables on the LHS div*/
.teacher-announcement-cuny-wide-add-drop-search-table, .teacher-announcement-liability-table{
    width:100%;
    height:auto;
    border-collapse:collapse;
}

.teacher-announcement-cuny-wide-add-drop-search-table thead{
    border:1px solid #303c6c;
    text-align:center;
    padding:2%;
}

/* CSS for the right hand large table caption */
.announcement-teacher-schedule-table{
    width:100%;
    column-gap:25%;
    border: 3px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
    background: oldlace linear-gradient(
            to bottom,
            #fbe8a6,
            #fbe8a6 5rem,
            transparent 1rem,
            transparent 100%
    );
}

#teacher-announcement-add-drop-search-header{
    border:solid;
    background-color: #fbe8a6;
}

/*CSS selector applies to all table elements for formatting*/
th{
    background-color: #303c6c;
    color: white;
    font-size:20px;
    justify-content:space-between;
    padding:12.5px;
}

th>tr{
    width:100%;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-bottom: 2%;
}

/*CSS selector working on the footer*/
footer{
    display:flex;
    background-color: #555;
    color: #bbb;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.footer-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.footer-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
.footer-main-item ul{
    display:-webkit-inline-flex;
}
.footer-main-item li{
    padding-left:.5em;
    padding-right:.5em;
}
.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}
.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.footer-social li {
    margin: 0.5rem;
    font-size: 1.25rem;
}
/*CSS to work on the icons for the footer*/
.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 50px; color: #eee;
    justify-items: center;
}
ul {
    list-style: none;
    padding-left: 0;
}