@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* Styling for body */

.prof-links-main-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.prof-links-inner-container{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
    display:flex;
    flex-direction:column;
}

/* Styling for nav bar */

.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 44px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar input[type=text]{
    color:white;
    margin-top: 2%;
    padding-right: .8%;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for main content div */

.prof-links-main-content{
    float: left;
    flex: 33.33%;
    padding: 5px;
    display: flex;
}

/* Styling for table */

#prof-links-table{
    padding-right: 2%;
    padding-bottom: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    border: 3px solid black;
}

#capHeader{
    text-decoration: underline;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

th, td{
    padding: 8px;
    text-align: left;
}

#prof-links-table a{
    padding-top: 5%;
    margin-left: 5%;
    text-decoration: none;
    color: #153983;
    font-family: 'Lato', sans-serif;
}

#prof-links-table a:hover{
    background: #153983;
    color:white;    
}

.flex-item-image{
    padding-top: 4%;
}

/*CSS selector working on the footer*/

footer{
    display:flex;
    background-color: #555;
    color: #bbb;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

footer a{
    text-decoration: none;
    color: #eee;
}

a:hover{
    text-decoration: underline;
}

.footer-main{
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-main-item{
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.footer-main-item ul{
    display:-webkit-inline-flex;
}

.footer-main-item li{
    padding-left:.5em;
    padding-right:.5em;
}

.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}

.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.footer-social li{
    margin: 0.5rem;
    font-size: 1.25rem;
}

/*CSS to work on the icons for the footer*/

.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 50px; color: #eee;
    justify-items: center;
}

ul{
    list-style: none;
    padding-left: 0;
}