@import url(https://fonts.googleapis.com/css?family=Lato:900italic);

/* Styling for body */

.prof-ctr-main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

.prof-ctr-inner-container{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/* Styling for nav bar*/

.nav-bar-logo{
    float: left;
    line-height: 55px;
}

.nav-bar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: #F5F3EE;
}

.nav-bar a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 1px 43px;
    text-decoration: none;
    line-height: 65px;
}

.nav-bar input[type=text]{
    color:white;
    margin-top: 2%;
    padding-right: .8%;
}

.nav-bar a:hover{
    background: #153983;
    color:white;    
}

/* Styling for prof details div at top of page*/

.prof-ctr-details{
    display:flex;
    flex-direction:row;
    column-gap:25%;
    border: 3px solid black;
    margin-top: 3%;
    padding-left: 6%;
    font-family: 'Lato', sans-serif;
    color:white;
    background-color: #303c6c;
}

#prof-ctr-fullname-header, #prof-ctr-semester-header, #prof-ctr-college-header{
    color: #fbe8a6;
    text-decoration: underline;
    font-size: 20px;
}

/* Styling for special content */

.fade-in-block{
    opacity: 0;
    font-family: 'Lato', sans-serif;
    color: orangered;
}

.special-content1{
    background-image: url("../../images/professor2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p1{
    font-family: 'Lato', sans-serif;
    min-height: 250px;
    padding-top: 10%;
    padding-left: 35%;
    font-size: 50px;
    color: #fbe8a6;
    text-align: center;
}

.special-content2{
    background-image: url("../../images/professor3.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p2{
    font-family: 'Lato', sans-serif;
    margin-top: 17%;
    min-height: 300px;
    padding: 18px;
    font-size: 20px;
    color: #fbe8a6;
    letter-spacing: 10px;
    text-shadow:0 0 4px #303c6c;
}

.special-content3{
    background-image: url("../../images/professor4.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 5%;
}

p.special-p3{
    font-family: 'Lato', sans-serif;
    margin-top: 17%;
    min-height: 300px;
    padding: 18px;
    font-size: 20px;
    color: #fbe8a6;
    letter-spacing: 10px;
    text-shadow:0 0 4px #303c6c;
}

/* Styling for main content and buttons */

.prof-ctr-main-content{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
}

#prof-left-panel, #prof-right-panel{
    flex: 33.33%;
    padding: 5px;
}

.btn{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-color: #153983;
    border-width: 3px;
    background-color:#153983;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 185px;
    border-radius: .3rem;
    line-height: 1.5;
    box-shadow: 10px 5px 0px #31708e;
}

/* Styling for tables */

.accordion{
    padding-top: 3%;
}

.display-info-h3{
    border: 3px solid black;
    padding-top: 1%;
    padding-left: 16%;
    padding-bottom: 1%;
    background-color: #b4dfe5;
}

.curr-semester-container, .next-semester-container{
    display:flex;
    border: 3px solid black;
    width: 100%;
    column-gap:25%;
    padding-top: 3%;
    margin-bottom: 3%;
    flex-direction:row;
    border-spacing: 5px;
    border-collapse: collapse;
    background: linear-gradient(
        to bottom,
        #fbe8a6,
        #fbe8a6 6rem,
        transparent 1rem,
        transparent 100%
      );
      background-color: oldlace;
}

.prof-courses-table{
    margin-top: -2%;
    padding-top: 3%;
    width: 100%;
}

.table-caption{
    color: #303c6c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: -3%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: #303c6c;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(odd){
    background-color: #fff;
}

/*CSS selector working on the footer*/
footer{
    display:flex;
    background-color: #555;
    color: #bbb;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

footer a{
    text-decoration: none;
    color: #eee;
}

a:hover{
    text-decoration: underline;
}

.footer-main{
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-main-item{
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

.footer-main-item ul{
    display:-webkit-inline-flex;
}

.footer-main-item li{
    padding-left:.5em;
    padding-right:.5em;
}

.footer-main-social-media{
    padding: 0 1.875rem 1.25rem;
    list-style: none;
}

.footer-social{
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.footer-social li{
    margin: 0.5rem;
    font-size: 1.25rem;
}

/*CSS to work on the icons for the footer*/

.fa-facebook-f, .fa-flickr, .fa-twitter-square, .fa-youtube{
    font-size: 50px; color: #eee;
    justify-items: center;
}

ul{
    list-style: none;
    padding-left: 0;
}